/*================================
table of contents
==================================
1. left section
2. right section ==> animation


*/



section.hero {

    margin-top: 3rem;

}

/*================================
    1. Left section
==================================*/

section.hero .parent-avatar.flex {
    align-items: end;
    gap: 0.6rem;
    margin-bottom: 0.3rem;
}


section.hero .left-section {
    flex-grow: 1;
}

section.hero .avatar {
    width: 88px;
    border-radius: 50%;
    border: 1px solid yellow;
    padding: 1px;
    box-shadow: 2px 2px 40px rgba(255, 255, 255, 0.666) inset;
    margin-right: 10px;
}



section.hero .icon-verified {
    color: var(--blue);
    font-size: 1.1rem;
}

section.hero.flex h1.title {
    font-size: 2.85rem;
    line-height: 4rem;
    color: var(--title);
    margin: 24px 0;
}

section.hero.flex .sub-title {
    font-size: 0.9rem;
    color: var(--subtitle);
    padding-right: 50%;
    line-height: 1.65rem;
    margin-bottom: 32px;
}

section.hero.flex .all-icons.flex {
    font-size: 1.5rem;
    gap: 1.5rem;
    color: var(--subtitle);
}

section.hero.flex .all-icons.flex .icon:hover {
    font-size: 1.6rem;
    color: var(--icon-hover);
    transition: 0.1s;
    cursor: pointer;
}

section.hero.flex .name {
    color: var(--icon-hover);
    font-size: 2rem;

}

section li a {
    color: var(--subtitle);
}





/* ----- GLOBAL BUTTON DESIGN ----- */
.button-cv {
    background-color: rgb(37, 38, 39);
    color: white;
    padding: 0.75rem;
    text-align: center;
    text-transform: capitalize;
    opacity: 0.5;
    font-size: 16px;
    gap: 0.3rem;
    border-radius: 2rem;
}

.button-cv:hover {
    background-color: rgb(11, 12, 19);
    box-shadow: 1px 1px 20PX rgb(189, 189, 189);
    color: var(--icon-hover);
}

.light .button-cv {
    background-color: rgb(220, 220, 227);
    color: rgb(0, 0, 0);


}

.light .button-cv:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20PX rgb(39, 37, 37);
    color: rgb(0, 0, 0);



}

.right-section-animation {
    width: 80%;
    translate: -50px 55px;
}


/*================================
    2. rigth section => animation
==================================*/

.right-section-animation {
    padding-left: 10rem;
}






@media only screen and (max-width: 540px) {
    section.hero.flex .all-icons.flex {
        gap: 0.7rem;
    }

    .button-cv {
        font-size: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .right-section-animation {
        display: none;
    }
}